@font-face {
    font-family: 'PWMarker';
    src:url('PWMarker.ttf.woff') format('woff'),
        url('PWMarker.ttf.svg#PWMarker') format('svg'),
        url('PWMarker.ttf.eot'),
        url('PWMarker.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}